body {
  margin: 0;
  padding: 0; }

#example1 {
  font-size: 20px;
  font-size: 30px; }
  @media (min-width: 300px) {
    #example1 {
      font-size: calc(20px + 20 * (100vw - 300px) / 600); } }
  @media (min-width: 900px) {
    #example1 {
      font-size: 40px; } }
  @media (min-width: 300px) {
    #example1 {
      font-size: calc(30px + 20 * (100vw - 300px) / 600); } }
  @media (min-width: 900px) {
    #example1 {
      font-size: 50px; } }

#example2 {
  margin: 22px;
  margin: 24px; }
  @media (min-width: 576px) {
    #example2 {
      margin: calc(22px + 2 * (100vw - 576px) / 192); } }
  @media (min-width: 768px) {
    #example2 {
      margin: 24px; } }
  @media (min-width: 768px) {
    #example2 {
      margin: calc(24px + 10 * (100vw - 768px) / 224); } }
  @media (min-width: 992px) {
    #example2 {
      margin: 34px; } }
