body {
  margin: 0;
  padding: 0; }

#example1 {
  font-size: 31px; }
  @media (min-width: 320px) {
    #example1 {
      font-size: calc(31px + 20 * (100vw - 320px) / 580); } }
  @media (min-width: 900px) {
    #example1 {
      font-size: 51px; } }

#example2 {
  font-size: 1.1rem; }
  @media (min-width: 320px) {
    #example2 {
      font-size: calc(1.1rem + 64 * (100vw - 320px) / 580); } }
  @media (min-width: 900px) {
    #example2 {
      font-size: 5.1rem; } }
  @media (min-width: 1000px) {
    #example2 {
      font-size: 5.1rem; } }

#example3 {
  font-size: 11px; }
  @media (min-width: 320px) {
    #example3 {
      font-size: calc(11px + 40 * (100vw - 320px) / 580); } }
  @media (min-width: 900px) {
    #example3 {
      font-size: 51px; } }
  @media (min-width: 1000px) {
    #example3 {
      font-size: 51px; } }

#example4 {
  font-size: 1.1rem;
  font-size: calc(1.1rem + 64 * (100vw - 320px) / 580); }
  @media screen and (min-width: 900px) {
    #example4 {
      font-size: 5.1rem; } }

#example5 {
  background-color: cyan;
  width: 50vw;
  height: 50vw;
  font-size: calc((100vw - 320px) / 580); }
  @media (min-width: 320px) {
    #example5 {
      width: calc(50vw + 50 * (100vw - 320px) / 580);
      height: calc(50vw + 50 * (100vw - 320px) / 580); } }
  @media (min-width: 900px) {
    #example5 {
      width: 100vw;
      height: 100vw; } }
  @media screen and (min-width: 900px) {
    #example5 {
      width: 100vw;
      height: 100vw; } }
