@import "./responsively.scss";
$responsively-min-width: 300px;
$responsively-max-width: 900px;

body {
    margin: 0;
    padding: 0;
}

#example1 {
    @include responsively(20px 40px 30px 50px, font-size);
    //@include responsively('20px@300px' '40px@500px' '50px@700px', padding-left padding-right);
}
#example2 {
    $map: (576px: 22px, 768px: 24px, 992px: 34px);
    @include responsively($map, margin);
    
    //@include responsively(20px '40px@500px' 50px, letter-spacing);
}
#example3 {
    //@include responsively(20px 40px 60px 80px, font-size);
}

#example4 {
    //@include responsively(1rem 2rem, letter-spacing);
}