@import "./responsively.scss";
$responsively-min-width: 320px;
$responsively-max-width: 900px;

body {
    margin: 0;
    padding: 10px;
    position:relative;
}
section {
    @include responsively(margin-bottom, 20px 60px);
}
#github {
    position: fixed;
    top: 0;
    right: 0;
}
#nav {
    position: fixed;
    left: 0;
}
#content {
    padding-left: 200px;
}
#content, #nav {
    padding-top: 30px;
}
h1 {
    //@include responsively(font-size, 30px 70px);
}

#example1 {
    @include responsively(font-size, 31px 51px);
    //@include responsively('20px@300px' '40px@500px' '50px@700px', padding-left padding-right);
}
$small: $responsively-min-width;
$big: $responsively-max-width;

#example2 {
    $map: (
        $small: 1.1rem,
        $big: 5.1rem,
    );
    @include responsively(font-size, $map);
    @media (min-width: 1000px) {
        font-size: 5.1rem;
    }
    //@include responsively(20px '40px@500px' 50px, letter-spacing);
}
#example3 {
    @include responsively(
        font-size,
        (
            $small: 11px,
            $big: 51px,
        )
    );
    @media (min-width: 1000px) {
        font-size: 51px;
    }
}

#example4 {
    //@include responsively(1rem 2rem, letter-spacing);
    font-size: 1.1rem;
    font-size: calc(1.1rem + 64 * (100vw - 320px) / 580);
    @media screen and (min-width: #{$big}) {
        font-size: 5.1rem;
    }
}
#example5 {
    background-color: cyan;
    @include responsively(width height, 50vw 100vw);
    font-size: calc((100vw - 320px) / 580);
    @media screen and (min-width: #{$big}) {
        width: 100vw;
        height: 100vw;
    }
    //@include responsively(50vw 100vw, width height);
}